/* all 0.5s ease */
/* (5px) */
.navbar {
  border: none; }

.navbar-default {
  /* Navigation Bar Colour */
  background-color: white; }

.navbar-brand {
  /* Navigation Brand Logo */
  margin: 0; }
  @media screen and (max-width: 768px) {
    .navbar-brand {
      padding: 10px 0px 10px 15px; } }
  .navbar-brand img {
    height: 50px; }
    @media screen and (max-width: 768px) {
      .navbar-brand img {
        height: 35px; } }

.navbar-default .navbar-nav > li > a {
  /* Navigation Links (List Items) */
  border: 3px solid transparent;
  font-size: 1.2em;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media screen and (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
      padding-top: 25px;
      padding-bottom: 25px; } }

.navbar-default .navbar-nav > li > a:hover {
  color: red; }
  @media screen and (min-width: 768px) {
    .navbar-default .navbar-nav > li > a:hover {
      color: white;
      background-color: #b31a09; } }

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  /* Background */
  background-image: url("../img/esports-jumbo-grey.jpg");
  background-size: cover;
  background-position: left center;
  overflow: hidden;
  background-color: rgba(45, 142, 168, 0.75);
  background-blend-mode: overlay;
  /* multiply, overlay */
  text-shadow: black 0.10em 0.10em 0.10em; }
  .jumbotron .jumbo-text {
    color: white;
    text-align: center; }
    .jumbotron .jumbo-text h2 {
      margin-bottom: 65px; }
    .jumbotron .jumbo-text .jumbo-button {
      background-color: #a82d2d;
      color: white;
      text-decoration: none;
      font-size: 1.3em;
      padding: 15px 45px;
      text-shadow: none;
      margin-top: 50px;
      -webkit-border-radius: 45px;
      -moz-border-radius: 45px;
      -ms-border-radius: 45px;
      border-radius: 45px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .jumbotron .jumbo-text .jumbo-button:hover {
      color: white;
      background-color: #da9021;
      -webkit-box-shadow: 0px 0px 30px 2px #da9021;
      -moz-box-shadow: 0px 0px 30px 2px #da9021;
      box-shadow: 0px 0px 30px 2px #da9021; }

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: lightgrey;
  padding: 50px 100px; }
  @media screen and (max-width: 1200px) {
    .container-fluid {
      padding: 50px 0; } }

#overview, #team {
  display: block;
  text-align: center;
  background-color: black;
  color: lightgrey;
  -webkit-box-shadow: 2px -42px 113px 24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -42px 113px 24px rgba(0, 0, 0, 0.75);
  box-shadow: 2px -42px 113px 24px rgba(0, 0, 0, 0.75); }
  #overview h1, #team h1 {
    margin: 25px; }
  #overview h2, #team h2 {
    margin: 10px; }
  #overview div, #team div {
    padding: 15px; }

.featurette {
  display: block;
  background-color: #1c3746;
  text-align: center;
  color: lightgrey; }

#feature-one {
  background: #43cea2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #43cea2, #185a9d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #43cea2, #185a9d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

#feature-two {
  background: #6441A5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6441A5, #2f165c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6441A5, #2f165c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

#feature-three {
  background: #8E0E00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8E0E00, #4d130c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8E0E00, #4d130c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

#newsletter {
  flex-direction: column;
  background-image: url("../img/e2.jpg");
  background-size: 100%;
  background-position: center;
  background-color: #a82d2d;
  background-blend-mode: overlay;
  /* multiply, overlay */
  align-items: center;
  color: white; }
  #newsletter h1 {
    margin: 0 0 20px; }
  @media screen and (max-width: 625px) {
    #newsletter {
      display: block;
      text-align: center;
      padding: 25px;
      background-image: none; } }
  #newsletter input[type="text"] {
    border: 1px solid #ddd;
    color: grey;
    padding: 10px 15px;
    width: 350px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px; }
    @media screen and (max-width: 625px) {
      #newsletter input[type="text"] {
        width: 100%;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; } }
  #newsletter input[type="submit"] {
    border: none;
    background-color: #da9021;
    color: white;
    padding: 11px;
    width: 150px;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media screen and (max-width: 625px) {
      #newsletter input[type="submit"] {
        margin-top: 15px;
        width: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        background-color: #da9021;
        border: none; } }
  #newsletter input[type="submit"]:hover {
    background-color: #e4a64a; }

#team {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: lightgrey;
  color: #2b2b2b; }
  #team .team-member {
    /* team photos */
    margin-top: 25px;
    height: 150px;
    width: 150px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    -ms-border-radius: 75px;
    border-radius: 75px; }
    @media screen and (max-width: 475px) {
      #team .team-member {
        height: 100px;
        width: 100px; } }

#footer {
  display: block;
  background-color: #292525;
  color: grey;
  padding: 25px 12%; }
  @media screen and (max-width: 768px) {
    #footer {
      padding: 25px 0px;
      text-align: center; } }
  #footer h1, #footer h2 {
    color: lightgrey; }
  #footer span {
    margin-right: 5px;
    color: lightgrey; }
  #footer #footer-links {
    margin: 25px 0 10px 0; }
  #footer #footer-copyright {
    margin: 10px 0 0 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  /* Google Font */ }

*:focus {
  /* Gets rid of blue line around input */
  outline: none; }

/*# sourceMappingURL=main.css.map */
