/* all 0.5s ease */
/* (5px) */
.navbar-nav {
  /* Navigation general padding */ }
  @media screen and (min-width: 768px) {
    .navbar-nav {
      padding-top: 15px;
      padding-bottom: 15px; } }

@media screen and (min-width: 768px) {
  .navbar-default .navbar-brand {
    margin: 15px; } }

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* Background */
  background: #c73838; }
  .jumbotron .jumbo-text {
    color: white; }

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: lightgrey;
  padding: 50px 100px; }
  @media screen and (max-width: 1200px) {
    .container-fluid {
      padding: 50px 0px; } }

#overview, #team {
  display: block;
  text-align: center;
  background-color: #2b2b2b;
  color: lightgrey; }
  #overview h1, #team h1 {
    margin: 10px; }
  #overview h2, #team h2 {
    margin: 10px; }
  #overview div, #team div {
    padding: 15px; }

#featurette {
  background-color: #1c3746;
  height: 1000px;
  color: lightgrey; }

#newsletter {
  flex-direction: column;
  background-color: #a82d2d;
  align-items: center;
  color: white; }
  #newsletter h1 {
    margin: 0px 0px 20px 0px; }
  @media screen and (max-width: 625px) {
    #newsletter {
      display: block;
      text-align: center;
      padding: 25px 25px; } }
  #newsletter input[type="text"] {
    border: 1px solid #ddd;
    color: grey;
    padding: 6px;
    width: 350px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px; }
    @media screen and (max-width: 625px) {
      #newsletter input[type="text"] {
        width: 100%;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; } }
  #newsletter input[type="submit"] {
    border: 1px solid #ddd;
    background-color: transparent;
    color: white;
    padding: 6px;
    width: 150px;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media screen and (max-width: 625px) {
      #newsletter input[type="submit"] {
        margin-top: 15px;
        width: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        background-color: #da9021;
        border: none; } }
  #newsletter input[type="submit"]:hover {
    background-color: white;
    color: #a82d2d; }

#team {
  background-color: lightgrey;
  color: #2b2b2b; }
  #team .team-member {
    /* team photos */
    margin-top: 25px;
    height: 150px;
    width: 150px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    -ms-border-radius: 75px;
    border-radius: 75px; }
    @media screen and (max-width: 475px) {
      #team .team-member {
        height: 100px;
        width: 100px; } }

#footer {
  display: block;
  background-color: #292525;
  color: grey;
  padding: 25px 12%; }
  @media screen and (max-width: 768px) {
    #footer {
      padding: 25px 0px;
      text-align: center; } }
  #footer h1, #footer h2 {
    color: lightgrey; }
  #footer span {
    margin-right: 5px;
    color: lightgrey; }
  #footer #footer-links {
    margin-top: 25px; }
  #footer #footer-copyright {
    margin: 10px 0 0 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  /* Google Font */ }

*:focus {
  /* Gets rid of blue line around input */
  outline: none; }

/*# sourceMappingURL=main.css.map */
