.container-fluid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  background-color: lightgrey;
}

#overview {
  display: block;
  text-align: center;
  background-color: rgb(43, 43, 43);
  color: lightgrey;
  h1 {
    margin:10px;
  }
  h2 {
    margin: 10px;
  }
  div {
    padding: 15px;
  }
}

#featurette {
  background-color: rgb(28, 55, 70);
  height: 1000px;
  color: lightgrey;
}

#newsletter {
  flex-direction: column;
  background-color: rgb(168, 45, 45);
  align-items: center;
  color: white;
  h1 {
    margin: 0px 0px 20px 0px;
  }

  input[type="text"] {
  border: 1px solid #ddd;
  color: grey;
  padding: 6px;
  width: 300px;
  // @include border-radius(5px);
  }

  input[type="submit"] {
  border: 1px solid #ddd;
  background-color: transparent;
  color: white;
  padding: 6px;
  width: 200px;
  @include transition(all 0.2s ease);
  // @include border-radius(5px);
  }

  input[type="submit"]:hover {
    background-color: white;
    color: rgb(168, 45, 45);

  }
}

#team {
  @extend #overview;
  background-color: lightgrey;
  color: rgb(43, 43, 43);
  padding: 50px 150px;
  @media screen and (max-width: 1200px) {
    padding: 50px 0px;
  }

  .team-member { /* team photos */
    margin-top: 25px;
    height: 150px;
    width: 150px;
    @media screen and (max-width: 475px) {
      height: 100px;
      width: 100px;
    }
    @include border-radius(75px);
  }
}
