.container-fluid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: lightgrey;
    padding: 50px 100px;
    @media screen and (max-width: 1200px) {
        padding: 50px 0;
    }
}
#overview {
    display: block;
    text-align: center;
    // background-color: rgb(43, 43, 43);
    background-color: black;
    color: lightgrey;
    @include box-shadow(2px -42px 113px 24px rgba(0,0,0,0.75));
    h1 {
        margin: 25px;
    }
    h2 {
        margin: 10px;
    }
    div {
        padding: 15px;
    }
}

.featurette {
    display: block;
    background-color: rgb(28, 55, 70);
    // height: 500px;
    text-align: center;
    color: lightgrey;
}
#feature-one {
    background: #43cea2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top left, #43b1cf , #185a9d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, #43b1cf , #185a9d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#feature-two {
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top right, #6441A5 , #2f165c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #6441A5 , #2f165c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#feature-three {
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top left, #8E0E00 , #42110b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, #8E0E00 , #42110b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#newsletter {
    flex-direction: column;
    background-image: url("../img/e2.jpg");
    background-size: 100%;
    background-position: center;
    background-color: rgb(168, 45, 45);
    background-blend-mode: overlay;   /* multiply, overlay */
    align-items: center;
    color: white;
    h1 {
        margin: 0 0 20px;
    }
    @media screen and (max-width: 625px) {
        display: block;
        text-align: center;
        padding: 25px;
        background-image: none;
    }
    input[type="text"] {
        border: 1px solid #ddd;
        color: grey;
        padding: 10px 15px;
        width: 350px;
        @include border-radius(10px 0 0 10px);
        // @include border-radius(5px);
        @media screen and (max-width: 625px) {
            width: 100%;
            text-align: center;
            @include border-radius(5px);
        }
    }
    input[type="submit"] {
        border: none;
        background-color: #da9021;
        color: white;
        padding: 11px;
        width: 150px;
        @include border-radius(0 10px 10px 0);
        @include transition(all 0.2s ease);
        @media screen and (max-width: 625px) {
            margin-top: 15px;
            width: 100%;
            @include border-radius(5px);
            background-color: #da9021;
            border: none;
        }
    }
    input[type="submit"]:hover {
        background-color: lighten(#da9021, 10%);
    }
}
#team {
    @extend #overview;
    @include box-shadow(none);
    background-color: lightgrey;
    color: rgb(43, 43, 43);
    .team-member {
        /* team photos */
        margin-top: 25px;
        height: 150px;
        width: 150px;
        @media screen and (max-width: 475px) {
            height: 100px;
            width: 100px;
        }
        @include border-radius(75px);
    }
    .fa {
      color: grey;
      @include transition(all 0.3s ease);
    }
    .fa-twitch:hover {
      color: 	rgb(100, 65, 165);
    }
    .fa-linkedin-square:hover {
      color: 	rgb(0, 119, 181);
    }
    .fa-twitter-square:hover {
      color: 	rgb(85, 172, 238);
    }
    .fa-github-alt:hover {
      color: 	rgb(217, 116, 43);
    }
    .fa-steam-square:hover {
      color: black;
    }
}
