#footer {
  display: block;
  background-color: rgb(41, 37, 37);
  color: grey;
  padding: 25px 12%;
  @media screen and (max-width: 768px) {
    padding: 25px 0px;
    text-align: center;
  }

  h1, h2 {
    color: lightgrey;
  }
  a {
    margin-right: 5px;
    color: lightgrey;
    @include transition(all 0.3s ease);
  }
  a:hover {
    color: #cb4033;
  }

  #footer-links {
    margin: 25px 0 10px 0;
  }

  #footer-special {
    span {
      margin: 2px;
    }
  }

  #footer-copyright {
    margin: 10px 0 0 0;
  }
}
